DATABASE_URL="file:./dev.db"
PORT=3001
STORE_FRONTEND_URL="http://localhost:3000"

# O JWT_SECRET DEVE SER MODIFICADO PARA UMA STRING ALEATÓRIA SEGURA EM PRODUÇÃO!
JWT_SECRET="seu-secret-aqui-muito-seguro-e-longo"

# === CONFIGURAÇÃO GOOGLE DRIVE BACKUP SYNC ===
# Opção 1: Caminho local da pasta do Google Drive para Desktop no Windows (Exemplo: G:\Meu Drive\BackupsGamaStore)
GOOGLE_DRIVE_SYNC_PATH=""

# Opção 2: API do Google Cloud (Service Account)
GOOGLE_DRIVE_CLIENT_EMAIL=""
GOOGLE_DRIVE_PRIVATE_KEY=""
GOOGLE_DRIVE_FOLDER_ID=""
